Exercise 3: DataFrame exercise

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .appName("Python Spark SQL Exercise 3") \
    .master("local[*]") \
    .getOrCreate()

In [3]:
rdd = spark.sparkContext.parallelize([
    (1, 2, "Quest Q64 10 FT", 59.98, 1),
    (2, 2, "Under Armour Men", 79.98, 1),
    (3, 3, "Nike Men's Running Shoes", 120.00, 2),
    (4, 3, "Adidas Women's Running Shoes", 110.00, 2),
    (5, 4, "Puma Men's T-Shirt", 25.00, 3),
    (6, 4, "Reebok Women's T-Shirt", 22.00, 3),
    (7, 5, "Asics Men's Shorts", 30.00, 4),
    (8, 5, "New Balance Women's Shorts", 28.00, 4),
    (9, 6, "Columbia Men's Jacket", 100.00, 5),
    (10, 6, "North Face Women's Jacket", 150.00, 5),
    (11, 7, "Patagonia Men's Fleece", 130.00, 6),
    (12, 7, "Marmot Women's Fleece", 120.00, 6),
    (13, 8, "Arc'teryx Men's Pants", 200.00, 7),
    (14, 8, "Mountain Hardwear Women's Pants", 180.00, 7),
    (15, 9, "Salomon Men's Hiking Boots", 140.00, 8),
    (16, 9, "Merrell Women's Hiking Boots", 130.00, 8),
    (17, 10, "Black Diamond Men's Gloves", 50.00, 9),
    (18, 10, "Outdoor Research Women's Gloves", 45.00, 9),
    (19, 11, "Smartwool Men's Socks", 20.00, 10),
    (20, 11, "Darn Tough Women's Socks", 25.00, 10),
    (21, 12, "Garmin Forerunner 945", 600.00, 11),
    (22, 12, "Suunto 9 Baro", 500.00, 11),
    (23, 13, "GoPro Hero 8", 400.00, 12),
    (24, 13, "DJI Osmo Action", 350.00, 12),
    (25, 14, "Razor A Kick Scooter", 30.00, 13),
    (26, 14, "Penny Australia Classic Complete Skateboard", 100.00, 13),
    (27, 15, "Callaway Golf", 200.00, 14),
    (28, 15, "Titleist Pro V1", 60.00, 14),
    (29, 16, "Yeti Tundra 65 Cooler", 350.00, 15),
    (30, 16, "RTIC 45 Cooler", 200.00, 15)
])

In [6]:
from pyspark.sql import Row
df = rdd.map(lambda x: Row(product_id=x[0], category_id=x[1], product_name=x[2], product_price=x[3], quantity=x[4]))

In [7]:
from pyspark.sql import types
schema1 = types.StructType([
    types.StructField("product_id", types.IntegerType(), True),
    types.StructField("category_id", types.IntegerType(), True),
    types.StructField("product_name", types.StringType(), True),
    types.StructField("product_price", types.FloatType(), True),
    types.StructField("quantity", types.IntegerType(), True)
])

In [8]:
df = spark.createDataFrame(df, schema=schema1)

In [9]:
df.show(10)

+----------+-----------+--------------------+-------------+--------+
|product_id|category_id|        product_name|product_price|quantity|
+----------+-----------+--------------------+-------------+--------+
|         1|          2|     Quest Q64 10 FT|        59.98|       1|
|         2|          2|    Under Armour Men|        79.98|       1|
|         3|          3|Nike Men's Runnin...|        120.0|       2|
|         4|          3|Adidas Women's Ru...|        110.0|       2|
|         5|          4|  Puma Men's T-Shirt|         25.0|       3|
|         6|          4|Reebok Women's T-...|         22.0|       3|
|         7|          5|  Asics Men's Shorts|         30.0|       4|
|         8|          5|New Balance Women...|         28.0|       4|
|         9|          6|Columbia Men's Ja...|        100.0|       5|
|        10|          6|North Face Women'...|        150.0|       5|
+----------+-----------+--------------------+-------------+--------+
only showing top 10 rows

In [11]:
df.createOrReplaceTempView("orders")

In [16]:
#1: Create a new column total_price which is the product of product_price and quantity
df1 = df.withColumn("total_price", df.product_price * df.quantity)
df1.show(10)

+----------+-----------+--------------------+-------------+--------+-----------+
|product_id|category_id|        product_name|product_price|quantity|total_price|
+----------+-----------+--------------------+-------------+--------+-----------+
|         1|          2|     Quest Q64 10 FT|        59.98|       1|      59.98|
|         2|          2|    Under Armour Men|        79.98|       1|      79.98|
|         3|          3|Nike Men's Runnin...|        120.0|       2|      240.0|
|         4|          3|Adidas Women's Ru...|        110.0|       2|      220.0|
|         5|          4|  Puma Men's T-Shirt|         25.0|       3|       75.0|
|         6|          4|Reebok Women's T-...|         22.0|       3|       66.0|
|         7|          5|  Asics Men's Shorts|         30.0|       4|      120.0|
|         8|          5|New Balance Women...|         28.0|       4|      112.0|
|         9|          6|Columbia Men's Ja...|        100.0|       5|      500.0|
|        10|          6|North Face Women'...|        150.0|       5|      750.0|
+----------+-----------+--------------------+-------------+--------+-----------+
only showing top 10 rows

In [20]:
#1: second way
df11 = spark.sql("""
SELECT *, product_price * quantity AS total_price
FROM orders
                 """)
df11.show(10)

+----------+-----------+--------------------+-------------+--------+-----------+
|product_id|category_id|        product_name|product_price|quantity|total_price|
+----------+-----------+--------------------+-------------+--------+-----------+
|         1|          2|     Quest Q64 10 FT|        59.98|       1|      59.98|
|         2|          2|    Under Armour Men|        79.98|       1|      79.98|
|         3|          3|Nike Men's Runnin...|        120.0|       2|      240.0|
|         4|          3|Adidas Women's Ru...|        110.0|       2|      220.0|
|         5|          4|  Puma Men's T-Shirt|         25.0|       3|       75.0|
|         6|          4|Reebok Women's T-...|         22.0|       3|       66.0|
|         7|          5|  Asics Men's Shorts|         30.0|       4|      120.0|
|         8|          5|New Balance Women...|         28.0|       4|      112.0|
|         9|          6|Columbia Men's Ja...|        100.0|       5|      500.0|
|        10|          6|North Face Women'...|        150.0|       5|      750.0|
+----------+-----------+--------------------+-------------+--------+-----------+
only showing top 10 rows

In [27]:
#1: third way
from pyspark.sql.functions import *
df111 = df.withColumn("total_price",col("product_price") * col("quantity"))

In [29]:
#1: fourth way
df.select("*", expr("product_price * quantity AS total_price")).show(2)

+----------+-----------+----------------+-------------+--------+-----------+
|product_id|category_id|    product_name|product_price|quantity|total_price|
+----------+-----------+----------------+-------------+--------+-----------+
|         1|          2| Quest Q64 10 FT|        59.98|       1|      59.98|
|         2|          2|Under Armour Men|        79.98|       1|      79.98|
+----------+-----------+----------------+-------------+--------+-----------+
only showing top 2 rows

In [30]:
df.selectExpr("*", "product_price * quantity AS total_price").show(5)

+----------+-----------+--------------------+-------------+--------+-----------+
|product_id|category_id|        product_name|product_price|quantity|total_price|
+----------+-----------+--------------------+-------------+--------+-----------+
|         1|          2|     Quest Q64 10 FT|        59.98|       1|      59.98|
|         2|          2|    Under Armour Men|        79.98|       1|      79.98|
|         3|          3|Nike Men's Runnin...|        120.0|       2|      240.0|
|         4|          3|Adidas Women's Ru...|        110.0|       2|      220.0|
|         5|          4|  Puma Men's T-Shirt|         25.0|       3|       75.0|
+----------+-----------+--------------------+-------------+--------+-----------+
only showing top 5 rows

In [18]:
#2:
df2 = spark.sql("""
    SELECT product_id, category_id, product_name,
        CASE
            WHEN product_name LIKE '%Nike%' THEN product_price * 1.2
            WHEN product_name LIKE '%Armour%' THEN product_price * 1.5
            ELSE product_price
        END AS new_product_price,
        quantity
    FROM orders
    """)
df2.show(10)

+----------+-----------+--------------------+------------------+--------+
|product_id|category_id|        product_name| new_product_price|quantity|
+----------+-----------+--------------------+------------------+--------+
|         1|          2|     Quest Q64 10 FT| 59.97999954223633|       1|
|         2|          2|    Under Armour Men|119.97000503540039|       1|
|         3|          3|Nike Men's Runnin...|             144.0|       2|
|         4|          3|Adidas Women's Ru...|             110.0|       2|
|         5|          4|  Puma Men's T-Shirt|              25.0|       3|
|         6|          4|Reebok Women's T-...|              22.0|       3|
|         7|          5|  Asics Men's Shorts|              30.0|       4|
|         8|          5|New Balance Women...|              28.0|       4|
|         9|          6|Columbia Men's Ja...|             100.0|       5|
|        10|          6|North Face Women'...|             150.0|       5|
+----------+-----------+--------------------+------------------+--------+
only showing top 10 rows

In [ ]:
#2: second way
from pyspark.sql import functions as F
df22 = df.withColumn("new_product_price", 
                     F.when(df.product_name.like("%Nike%"), df.product_price * 1.2)
                      .when(df.product_name.like("%Armour%"), df.product_price * 1.5)
                      .otherwise(df.product_price))
# Select only the columns we need
df222 = df22.select("product_id", "category_id", "product_name", "new_product_price", "quantity")
df222.show(10)

+----------+-----------+--------------------+------------------+--------+
|product_id|category_id|        product_name| new_product_price|quantity|
+----------+-----------+--------------------+------------------+--------+
|         1|          2|     Quest Q64 10 FT| 59.97999954223633|       1|
|         2|          2|    Under Armour Men|119.97000503540039|       1|
|         3|          3|Nike Men's Runnin...|             144.0|       2|
|         4|          3|Adidas Women's Ru...|             110.0|       2|
|         5|          4|  Puma Men's T-Shirt|              25.0|       3|
|         6|          4|Reebok Women's T-...|              22.0|       3|
|         7|          5|  Asics Men's Shorts|              30.0|       4|
|         8|          5|New Balance Women...|              28.0|       4|
|         9|          6|Columbia Men's Ja...|             100.0|       5|
|        10|          6|North Face Women'...|             150.0|       5|
+----------+-----------+--------------------+------------------+--------+
only showing top 10 rows

In [32]:
#2: third way
df.withColumn("product_price",
        when(col("product_name").contains("Nike"), col("product_price") * 1.2)
        .when(col("product_name").contains("Armour"), col("product_price") * 1.5)
        .otherwise(col("product_price"))).show(10)

+----------+-----------+--------------------+------------------+--------+
|product_id|category_id|        product_name|     product_price|quantity|
+----------+-----------+--------------------+------------------+--------+
|         1|          2|     Quest Q64 10 FT| 59.97999954223633|       1|
|         2|          2|    Under Armour Men|119.97000503540039|       1|
|         3|          3|Nike Men's Runnin...|             144.0|       2|
|         4|          3|Adidas Women's Ru...|             110.0|       2|
|         5|          4|  Puma Men's T-Shirt|              25.0|       3|
|         6|          4|Reebok Women's T-...|              22.0|       3|
|         7|          5|  Asics Men's Shorts|              30.0|       4|
|         8|          5|New Balance Women...|              28.0|       4|
|         9|          6|Columbia Men's Ja...|             100.0|       5|
|        10|          6|North Face Women'...|             150.0|       5|
+----------+-----------+--------------------+------------------+--------+
only showing top 10 rows

In [33]:
#2: fourth way
df.selectExpr("*",
              "CASE WHEN product_name LIKE '%Nike%' THEN product_price * 1.2 \
               WHEN product_name LIKE '%Armour%' THEN product_price * 1.5 \
               ELSE product_price END AS new_product_price").drop("product_price").withColumnRenamed("new_product_price","product_price").show(10)

+----------+-----------+--------------------+--------+------------------+
|product_id|category_id|        product_name|quantity|     product_price|
+----------+-----------+--------------------+--------+------------------+
|         1|          2|     Quest Q64 10 FT|       1| 59.97999954223633|
|         2|          2|    Under Armour Men|       1|119.97000503540039|
|         3|          3|Nike Men's Runnin...|       2|             144.0|
|         4|          3|Adidas Women's Ru...|       2|             110.0|
|         5|          4|  Puma Men's T-Shirt|       3|              25.0|
|         6|          4|Reebok Women's T-...|       3|              22.0|
|         7|          5|  Asics Men's Shorts|       4|              30.0|
|         8|          5|New Balance Women...|       4|              28.0|
|         9|          6|Columbia Men's Ja...|       5|             100.0|
|        10|          6|North Face Women'...|       5|             150.0|
+----------+-----------+--------------------+--------+------------------+
only showing top 10 rows

In [25]:
#OR
df2222= df22.drop("product_price")
df2222.show(10)

+----------+-----------+--------------------+--------+------------------+
|product_id|category_id|        product_name|quantity| new_product_price|
+----------+-----------+--------------------+--------+------------------+
|         1|          2|     Quest Q64 10 FT|       1| 59.97999954223633|
|         2|          2|    Under Armour Men|       1|119.97000503540039|
|         3|          3|Nike Men's Runnin...|       2|             144.0|
|         4|          3|Adidas Women's Ru...|       2|             110.0|
|         5|          4|  Puma Men's T-Shirt|       3|              25.0|
|         6|          4|Reebok Women's T-...|       3|              22.0|
|         7|          5|  Asics Men's Shorts|       4|              30.0|
|         8|          5|New Balance Women...|       4|              28.0|
|         9|          6|Columbia Men's Ja...|       5|             100.0|
|        10|          6|North Face Women'...|       5|             150.0|
+----------+-----------+--------------------+--------+------------------+
only showing top 10 rows